<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="h"><%- include('./header') -%></div>
    <div class="main">
        <div>About us</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat adipisci assumenda eligendi! Accusantium repudiandae quas veniam atque corporis, reprehenderit mollitia id voluptates consequatur voluptate autem error doloremque eum? Doloribus, libero!</div>
    </div>
</body>
</html>