<div class="hh"></div>
<div class="header">
    <a class="head" href="/">Main page</a>
    <a class="head" href="/about">About us</a>
    <form class="k" id="form" method="post" action="/blog">
        <input type="text" placeholder="Name of User" name="username" id="input">
        <button type="submit" id="button">Готово</button>
    </form>
</div>