<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="h"><%- include('./header') -%></div>
    <div class="main">
        <div>Main page</div>
        <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia sit laboriosam facilis fuga eum, voluptatum voluptate accusamus adipisci velit dolore vitae vel ullam voluptas sequi, mollitia nulla. Corrupti, explicabo unde?</div>
        <div></div>
    </div>
</body>
</html>